<main class="main">
  <div class="inner">
    <div class="schedule__wrapper">
      <p class="schedule__hedding">
        <%= @schedule.status.name %>
      </p>
      <%= link_to "by #{@schedule.user.name_kanji}", user_path(@schedule.user), class: :schedule__user %>
      <% if current_user == @schedule.user%>
        <div class="schedule__manage">
          <%= link_to "編集する", edit_schedule_path(@schedule), class: :schedule__btn %>
          <%= link_to "削除する", schedule_path(@schedule), data: { turbo_method: :delete }, class: :schedule__btn %>
        </div>
      <% end %>
      <div class="schedule__image">
        <%#= image_tag @schedule.image %>
      </div>
      <div class="schedule__body">
        <div class="schedule__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= l @schedule.start_time, format: :short %>
          </p>
        </div>
        <div class="schedule__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= l @schedule.meeting_time, format: :short %>
          </p>
        </div>
      </div>
      <div class="schedule__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@schedule, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content%>
              <%= link_to "（#{comment.user.name_kanji}）", user_path(comment.user), class: :comment_user %>
              <%= l comment.created_at %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
