<main class="main">
  <div class="inner">
    <div class="schedule__heading">
      スケジュールの詳細
    </div>
    <div class="schedule__wrapper">
      <p class="schedule__status">
        <%= "【#{@schedule.status.name}】" %>
      </p>
      <div class="schedule__user">
        <%= "最終更新者： #{@schedule.user.name_kanji}" %>
        <%= " (#{l @schedule.updated_at, format: :default})" %>
      </div>
      <% if current_user == @schedule.user %>
      <div class="schedule__manage">
        <%= link_to "編集", edit_schedule_path(@schedule), class: :schedule__btn %>
        <%= link_to "削除", schedule_path(@schedule), data: { turbo_method: :delete }, class: :schedule__btn %>
      </div>
      <% end %>
    </div>

    <div class="schedule__match">
      <p class="schedule__match_day">
        <%= "対戦日　： #{@schedule.match_day}" %>
      </p>
      <p class="schedule__match_week">
        <%= "#{@schedule.match_week.name}" %>
      </p>
    </div>
    <div class="schedule__opponent">
      <%= "対戦相手： #{@schedule.opponent}" %>
    </div>
    <div class="schedule__start_time">
      <%= "試合開始： #{l @schedule.start_time, format: :short}" %>
    </div>
    <div class="schedule__location">
      <%= "試合会場： #{@schedule.location}" %>
    </div>
    <div class="schedule__meeting_time">
      <%= "集合時刻： #{l @schedule.meeting_time, format: :short}" %>
    </div>
    <div class="schedule__deadline">
        <%= "参加可否の回答期限： #{@schedule.deadline}" %>
    </div>


      <div class="schedule__comments">
        <%# <% if user_signed_in? %>
          <%= form_with model: [@schedule, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <%# <% end %>


        <ul class="comments_lists">
          <% @comments.each do |comment| %>
          <div class="comment__all">
            <li class="comments_list">
              <%= l comment.created_at %>
              <%= "[#{comment.user.name_kanji}]" %>
            </li>
            <div class="comment">
              <%= comment.content %>
            </div>
          </div>
          <% end %>
        </ul>


      </div>
    </div>
  </div>
</main>
